.head-img{
	max-width: 650px !important;
}
.myhead h1,.myhead h2,.service h2{
	color: #8D1644;
}
.service .row .col-md-6 div{
	background-image: url(../images/vs_bg1.png);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

.service .row .col-md-6 div h3{
	font-size: 36px;
}
.service .row .col-md-6 div p{
	font-size: 20px;
}
.service .row .col-md-6{
	margin-bottom: 42px;
}
#tren1,#tren2{
	height: 100%;
}
#tren2{
	background-image: url(../images/vs_bg2.png);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 768px){
	.myhead div:nth-child(1){
     width: 60% !important;
	}
	.myhead div:nth-child(2){
     width: 40% !important;
	}
	.service .row .col-md-6 div{
		max-width: 500px;
		padding:100px 50px 32px 56px;
	}
}
@media screen and (max-width: 767px){
	.service .row .col-md-6 div{
		max-width: 500px;
		width: 100%;
		padding:100px 18px 32px 56px;
	}
}