.head-img{
	max-width: 650px !important;
}
.myhead h1,.myhead h2,.service h2{
	color: #8D1644;
}



.service .row .col-md-6{
	margin-bottom: 42px;
}


@media screen and (min-width: 768px){
	.myhead div:nth-child(1){
     width: 60% !important;
	}
	.myhead div:nth-child(2){
     width: 40% !important;
	}
	}
