/* ---- reset ---- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{background-color: #fff;}
.nav-link{color: rgba(0,0,0,0.8) !important;
          font-weight: 500;}

canvas {
  display: block;
  vertical-align: bottom;
}
/*animation*/
.nav-link{position: relative;}
.nav-link::after{
  content: "";
  width: 0%;
  height: 3px;
  background-color: #e20606;
  position: absolute;
  bottom:0;
  left: 8px;
}
.nav-link::before{
  content: url(img/red1.png);
  position: absolute;
  top:-16px;
  left: 28%;
  opacity: 0;
}
.draw{height:420px;}

.empty button{padding: 6px 24px;
              border:none;
              width: 120px;
              background:linear-gradient(45deg,#c7300f -37.82%,#ff8514 127.05%),#e35845;
              color: #fff;
              border-radius: 6px;}

u{color: #ff8514;}

.empty{width: 100%;
height: 100vh;
position: relative;}
/* ---- particles.js container_1 ---- */

#particles-js {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 1;
}

#stats{display: none;}

.container_1 { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index:2 ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:transparent !important;
}
.container_1 p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container_1 p span.typed-text {
  font-weight: bold;
  color: #ff8514;
}
.container_1 p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container_1 p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/*text canvas css*/
HTML Less JSResult Skip Results Iframe
EDIT ON


.text-can{
  background-color: black;
  width: 100%;
  height: 4500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*``````````*/
 
.our_services i{
  color:#ff8514; 
}

.broad{
  border:2px solid #ff8514;
  border-radius: 28px;
  padding: 10px; 
  max-width: 262px;
  margin: 6px;
}
.our_services h5{
  margin: 18px 0px;
}

.our_services .col-md-3{
  padding: 0;
}
/*our team*/
.team_div{
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  position:relative;
}
.team_div img{
  border-radius: 50%;
  margin-top: -60px;
  width: 92px;
  height: auto;

}

/*footer*/
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.about_head{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
width: 100%;
height:50vh;
background:linear-gradient(45deg,#c7300f -37.82%,#ff8514 127.05%),#e35845;
position: relative;
margin-top: 79.56px;
}

.about_title{font-size: 36px;
color: #fff;
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%,-50%);}

/*Contact*/

  .contact{
    padding: 4%;
  }
  .part_3{
    background: #2d3246;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #fff;
  }
  .contact-info{
    margin-top:10%;
  }
  .contact-info img{
    margin-bottom: 15%;
  }
  .contact-info h1{
    margin-bottom: 10%;
  }
  .part_9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .contact-form label{
    font-weight:600;
  }
  .contact-form button{
    background: #2d3246;
    color: #fff;
    font-weight: 600;
    width: 25%;
  }
  .contact-form button:focus{
    box-shadow:none;
  }
  .clipd_1{
    clip-path: polygon(59% 0, 98% 18%, 94% 47%, 100% 100%, 0 100%, 3% 73%, 0 18%);
    background:linear-gradient(45deg,#c7300f -37.82%,#ff8514 127.05%),#e35845;
    color: #fff;
    padding: 52px 36px 14px 36px;
    width: 100%;
    height: 100%;
  }
  /*media*/
  @media  screen and (max-width: 768px){
    .myteam .col-md-3:nth-child(2),
    .myteam .col-md-3:nth-child(3),
    .myteam .col-md-3:nth-child(4){
      margin-top: 82px;
    }
  }
@media  screen and (min-width: 992px){
.nav-link:hover:after{
  width: 80%;
  transition: 0.3s all;
}
.nav-link:hover:before{
  opacity: 1;
  top:-6px;
  transition: 0.3s all;
}
}