
@font-face {
    font-family:'NeoSans';
    src: url('NeoSans.eot');
    src: url('NeoSans.eot') format('embedded-opentype'),
         url('NeoSans.woff2') format('woff2'),
         url('NeoSans.woff') format('woff'),
         url('NeoSans.ttf') format('truetype'),
         url('NeoSans.svg#NeoSans') format('svg');
}

@font-face {
    font-family:'NeoTech';
    src: url('NeoTech.eot');
    src: url('NeoTech.eot') format('embedded-opentype'),
         url('NeoTech.woff2') format('woff2'),
         url('NeoTech.woff') format('woff'),
         url('NeoTech.ttf') format('truetype'),
         url('NeoTech.svg#NeoTech') format('svg');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot') format('embedded-opentype'),
         url('MyriadPro-Regular.woff2') format('woff2'),
         url('MyriadPro-Regular.woff') format('woff'),
         url('MyriadPro-Regular.ttf') format('truetype'),
         url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}



